header{
width:100%;
float:left;
position:fixed;
top:0px;
left:0px;
background-color:#ffe6f7;
box-shadow: 0 10px 15px 0 rgba(0,0,0,0.16),0 20px 15px 0 rgba(0,0,0,0.12);
}
a{
background-color:Transparent;
color:black;
font-family:Lucida Sans Unicode;
font-size:24px;
text-align:left;
text-decoration: none;
display:inline-block;
padding:15px;
}
img{
width:30%;
border-radius:50%;
margin-left:20px;
}
.buttonleft{
padding-top:20px;
float:right;
}
body{
background-image: url("images/b1.png"); 
    
}
section{
	background-image:url('images/h2.jpg');
	background-repeat:no-repeat;
	width:65%;
	height:525px;	    
    margin-left:27%;
    margin-right: 10%;
	margin-top:13%;   
	}
	p{
	margin-top:10%;
	Font-Size:30px;
	float:left;
	margin-left:2%;
	text-align:center;
	}
	.p_d1{	
	Font-Size:20px!important;
	float:left;
	margin-left:10%;
	text-align:center;
	}
	.p_d2{	
	Font-Size:18px!important;	
	}
.myslideshowL{
    background-image: url(images/b3.jpg);
    background-repeat: no-repeat;
    background-position:center;
   position: absolute;
    margin-top: -1%;
    min-width: 20%;
    margin-left: 2%;
    min-height: 600px;
    background-size: cover;
    
}
.myslideshowR{
    background-image: url(images/b3.jpg);
    background-repeat: no-repeat;
    background-position:center;
      position: absolute;
margin-left: 75%;
margin-top:  -28%;
min-width: 20%;
    min-height: 600px;
    background-size: cover;
}
marquee{
    margin-top: 45%;
    height: 250px;  
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    letter-spacing: 2px;
}
.font1{
    font-family: fantasy;
}
.font1{
    font-family:cursive;
}