
.pics{
    display:none;
    border-radius: 5%!important;
    height: 800px;
}
.pics1{
    display:none;
    border-radius: 5%!important;
    height: 800px;
}
.btn:hover{
    color:#000!important;
    background-color:#ccc!important;
}
.btn{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-align:center;
    width:2%;
    color:#fff!important;
    background-color:#000!important;
} 

.leftbtn{
    position:absolute;
    top:50%;
    left:2%;
}
.rightbtn{
    position:absolute;
    top:50%;
    right:2%;
}
.leftbtn1{
    position:absolute;
    top:50%;
    left:5%;
}
.leftbtn2{
    position:absolute;
    top:50%;
    left:6%;
}
.rightbtn1{
    position:absolute;
    top:50%;
    right:-2%;
}

.content{
    position:relative;
    padding: 10px;
    
}
